RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:CF-Visitor} !{"scheme":"https"}
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


ErrorDocument 403 https://errors.infinityfree.net/403/
ErrorDocument 404 https://rzq-perpus.epizy.com/404.html
ErrorDocument 500 https://rzq-perpus.epizy.com/500.html